APP_NAME=Laenutus
APP_ENV=development
JWT_SECRET=muuda-see-salajaseks-voimeks

DB_HOST=db
DB_PORT=3306
DB_NAME=laenutus
DB_USER=laenutus
DB_PASSWORD=laenutus123

MYSQL_ROOT_PASSWORD=root123
MYSQL_DATABASE=laenutus
MYSQL_USER=laenutus
MYSQL_PASSWORD=laenutus123
