DB_HOST=localhost
DB_PORT=3306
DB_NAME=loans_db
DB_USER=loans
DB_PASSWORD=loans123

JWT_SECRET=muuda-see-salajaseks-voimeks
ITEMS_SERVICE_URL=http://localhost:8081
NOTIFICATIONS_SERVICE_URL=http://localhost:8082
INTERNAL_API_KEY=muuda-see-sisemiseks-voimeks
